body {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 120%;
  margin: 0;
  background-color: #FFFFFF;
  overflow-x: hidden;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration:none;
}
a:active, a:focus {
    outline: none;
    box-shadow: inherit!important;
  }

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus {
  outline: none !important;
}

a, button, label, p, span, select, option, div::before, div::after, input, textarea {
  transition: all .2s ease;
}

::placeholder,
:focus::placeholder {
  opacity: 0;
  transition: opacity .4s ease;
}

.widget-form-privacy__content {
  display: none;
}

.hidden {
  display: none;
}
.visible {
  display: block;
}

img {
  display: block;
  max-width: 100%;
}

// Запрет масштабирования по двойному клику на сенсорных экранах
a,
  // area,
button,
input,
label,
select,
  // summary,
textarea {
  touch-action: manipulation;
}

// Обнуляем отступы
figure,
li {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

label {
  margin: 0;
}

b,
strong {
  font-weight: bolder;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button {
  padding: 0;
  border: none;
  cursor: pointer;
  overflow: visible;

  &:disabled {
    pointer-events: none;
    cursor: not-allowed;
  }
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type=text],
input[type=email],
input[type=password],
input[type=search],
input[type=tel],
input[type=number],
input[type=date],
input[type=submit],
input[type=reset],
input[type=file],
input[type=button]
{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 100%;
  outline: none;
  border-radius: 0;
}

textarea {
  overflow: auto;
}

body,
ul,
ol,
p,
h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
textarea,
select,
table {
  padding: 0;
  margin: 0;
  font-weight: normal;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-width: 0;
  border-spacing: 0;
  border-color: transparent;

  th {
    font-weight: normal;
    text-align: left;
  }
}

[hidden] {
  display: none;
}

figcaption,
figure,
main,
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

a {
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    opacity: 0.85;
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
  }
}

input::-webkit-input-placeholder {
  opacity: 1;
  color: inherit;
  font-size: inherit;
}

input::-moz-placeholder {
  opacity: 1;
  color: inherit;
  font-size: inherit;
}

input:-moz-placeholder {
  opacity: 1;
  color: inherit;
  font-size: inherit;
}

input:-ms-input-placeholder {
  opacity: 1;
  color: inherit;
  font-size: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[name=personalDataAgree],
input[name=saveInput]
{
  display: none;
}

label.error{
  display: none!important;
}

.form__input.error{
    border: 2px solid #F41F52;
    box-shadow: inset 0 0 5px #F41F52;
}

.form__answer{
  .form__button {
    font-size: 14px;
    width: 100%;
    padding: 15px;
    margin: 15px auto;
    box-sizing: border-box;
    border-radius: 10px;
    color: #ffffff;
  }
}
.send-success{
  text-align: center;
  padding: 75px 10px;
  color: #ffffff;
  h3{
    font-size: 44px;
    line-height: 100%;
    margin-bottom: 25px;
  }
  p{
    font-size: 30px;
    line-height: 100%;
  }
}


select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


//------ Styles common

.wrapper {
  position: relative;
  min-width: 360px;
  width: 100%;
  height: 100%;
  max-width: 1920px;
  margin: auto;
  color: #16182B;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
  box-shadow: 0 0 15px rgba(157,163,183,0.75);
}

.container {
  max-width: 1170px;

  @media (max-width: 992px) {
    padding-left: 45px;
    padding-right: 45px;
  }
  @media (max-width: 768px) {
    padding-left: 25px;
    padding-right: 25px;
  }

  @media (max-width: 575px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.title{
  font-weight: bold;
  font-size: 48px;
  line-height: 130%;
  text-transform: uppercase;
  color: #000000;
  @media(max-width:991px){
    font-size: 36px;
  }
  @media(max-width:768px){
    font-size: 22px;
  }
}

.notlink{
  user-select: none;
  pointer-events: none;
  cursor: default;
}
.hidden {
  display: none !important;
}

.widget-form-privacy {
  display: none;
}

.fancybox-close-small {
  display: none;
}

.fancybox-privacy__content {
  max-width: 800px;
}

.fancybox-privacy__content .fancybox-close-small {
  display: block !important;
}

.fancybox-inner {
  height: 100%;
}

.fancybox-white .fancybox-bg {
  display: none;
}

.fancybox-bg {
  background: #ffffff !important;
}

::-webkit-scrollbar-track {
	background-color: #f0ecbd;
}

::-webkit-scrollbar-thumb {
  background-color: #fc9d0f;
  border-radius: 10px;
  &:hover{
    background-color: #ed9209;
  }
}

::-webkit-scrollbar {
	width: 10px;
}



.app{
  margin: 0 auto;
  padding: 2rem;
  min-height: 100vh;
  &__block{
    max-width: 285px;
    margin: 0 auto;
  }
  &__title{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 75px;
    width: 100%;
    background: #fff;
    border: 3px solid #222;
    border-radius: 25px;
    color: #222;
    font-size: 18px;
    line-height: 120%;
    font-weight: 900;
  }
  &__text{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 75px;
    width: 100%;
    background: #fff;
    border: 3px solid #222;
    border-radius: 25px;
    color: #222;
    font-size: 16px;
    line-height: 120%;
    font-weight: 900;
  }
  &__item{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 1rem auto;
    span{
      background: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 130px;
      min-height: 45px;
      border-radius: 25px;
      border: 3px solid #222;
      color: #222;
      text-transform: uppercase;
      font-size: 18px;
      line-height: 120%;
      font-weight: 900;
    }
    button{
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: 18px;
      line-height: 120%;
      font-weight: 900;
      color: #222;
      border-radius: 25px 0 0 25px;
      border: 3px solid #222;
      width: 70px;
      height: 45px;
      margin-left: 25px;
      &:nth-child(odd){
        border-radius: 0 25px 25px 0;
        margin-left: -2px;
      }
    }
  }
}